<h2 mat-dialog-title>Une nouvelle version du site est disponible!</h2>
<mat-dialog-content class="mat-typography">
  <p>Afin de compléter la confirmation de votre présence à notre mariage, veuillez cliquer sur le bouton pour utiliser la nouvelle version du site. Ceci rafraîchira la page, mais vous ne perdrez pas vos informations.</p>
  <p>Si une fenêtre vous demande si vous voulez continuer ou recommencer, cliquez sur "Continuer".</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" cdkFocusInitial (click)="refresh()">Rafraîchir</button>
</mat-dialog-actions>