<h1 style="text-align: center;">24 août 2024</h1>
<div class="timeline">
    <span class="material-symbols-outlined">toll</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">wine_bar</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">restaurant_menu</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">airport_shuttle</span>
</div>
<a class="map-link" href="https://maps.app.goo.gl/8Nh7jgposRVN9vsT6">
    <mat-icon>zoom_in</mat-icon>
</a>
<h4>Auberge Le Saint-Gabriel<br>426 rue Saint-Gabriel, Montréal, Québec H2Y 2Z9</h4>
<rsvp-confirmation-person-card [personName]="person1"></rsvp-confirmation-person-card>
<rsvp-confirmation-person-card [personName]="person2" [hideable]="true"></rsvp-confirmation-person-card>
<button class="info" mat-raised-button
#tooltip="matTooltip" matTooltipPosition="after" (click)="tooltip.toggle()"
matTooltip="L'invitation que vous avez reçue par la poste est seulement pour vous (seul(e), en couple ou avec +1).">
<mat-icon>info</mat-icon>Seulement 2 personnes?</button>
