button.info {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    margin-top: 0;
}

h4 {
    margin: 0;
    text-align: center;
    font-weight: 300;
}

div.timeline {
    margin: auto;
    width: fit-content;
}

img.map {
    width: 100%;
}

a.map-link {
    color: black;
    display: block;
    background-size: cover;
    width: 100%;
    height: 200px;
    background-image: url("../../assets/saint-gabriel-map-big.png");
    text-align: right;

    mat-icon {
        margin: 10px;
        font-size: 50px;
        width: 50px;
        height: 50px;
    }
}

button.confirm {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: large;

    .button-content {
        display: flex;
        height: 24px;
        flex-wrap: wrap;
        align-items: center;

        .button-icon {
            width: 24px;
            height: 24px;
            display: grid;
        
            mat-icon {
                grid-row: 1;
                grid-column: 1;
            }
        }
    }
}