<h1 @fade style="text-align: center;">24 août 2024</h1>
<div @fade class="timeline">
    <span class="material-symbols-outlined">toll</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">wine_bar</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">restaurant_menu</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">check_indeterminate_small</span>
    <span class="material-symbols-outlined">airport_shuttle</span>
</div>
<a @fade class="map-link" href="https://maps.app.goo.gl/8Nh7jgposRVN9vsT6">
    <mat-icon>zoom_in</mat-icon>
</a>
<h4 @fade>Auberge Le Saint-Gabriel<br>426 rue Saint-Gabriel, Montréal, Québec H2Y 2Z9</h4>

<div style="display: inline-flex; width: 100%; justify-content: center;">
    <button class="confirm" color="primary" mat-stroked-button
        [disabled]="!rsvp1.isReadyToSubmit || (!rsvp2.hidden && !rsvp2.isReadyToSubmit)">
        <span class="button-content">
            <span class="button-icon">
                <mat-icon @fadeRotate *ngIf="rsvp1.isReadyToSubmit && (rsvp2.hidden || rsvp2.isReadyToSubmit)">check</mat-icon>
                <mat-icon @fadeCounterRotate *ngIf="!rsvp1.isReadyToSubmit || (!rsvp2.hidden && !rsvp2.isReadyToSubmit)">close</mat-icon>
            </span>
            Confirmer
        </span>
    </button>
</div>
<rsvp-confirmation-person-card #rsvp1 @fade [personName]="person1"></rsvp-confirmation-person-card>
<rsvp-confirmation-person-card #rsvp2 @fade [personName]="person2" [hideable]="true"></rsvp-confirmation-person-card>
<button @fade class="info" mat-raised-button #tooltip="matTooltip" matTooltipPosition="after" (click)="tooltip.toggle()"
    matTooltip="L'invitation que vous avez reçue par la poste est seulement pour vous (seul(e), en couple ou avec Plus-Un).">
    <mat-icon>info</mat-icon>Seulement 2 personnes?</button>