<mat-card>
    <mat-card-header>
        <mat-card-title>
            <span *ngIf="!editingName">
                <button mat-icon-button (click)="editingName = true">
                    <mat-icon>edit</mat-icon>
                </button>
                <span (click)="editingName = true">{{personNameControl.value || "SVP entrez un nom"}}</span>
            </span>
            <mat-form-field appearance="outline" *ngIf="editingName">
                <mat-label>Prénom, Nom</mat-label>
                <input #nameInput matInput [formControl]="personNameControl" (focusout)="nameInputLostFocus()">
                <button *ngIf="!personNameControl.invalid" mat-icon-button matSuffix
                    (click)="editingName = false"><mat-icon>check</mat-icon></button>
                <mat-hint style="font-size: small;">Veuillez entrer le nom complet</mat-hint>
            </mat-form-field>
            <span class="spacer"></span>
            <button *ngIf="deleteable" mat-icon-button class="card-hide" (click)="delete()">
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <label>Serez-vous des nôtres?</label>
        <mat-radio-group [(ngModel)]="personConfirmation.present" class="presence-radio-group"
            (change)="presenceChanged(personConfirmation.present ?? false)">
            <mat-radio-button [value]="true">Oui</mat-radio-button>
            <mat-radio-button [value]="false">Non</mat-radio-button>
        </mat-radio-group>
        <mat-expansion-panel class="mat-elevation-z0" [expanded]="!!personConfirmation.present">
            <div class="expansion-panel-content">
                <mat-divider></mat-divider>
                <div class="row">
                    Plat principal choisi:
                </div>
                <div class="row">
                    <span class="row-label" (click)="openBottomSheet()">{{foodChoiceLabel}}</span>
                    <span class="spacer"></span>
                    <button mat-icon-button (click)="openBottomSheet()"><mat-icon>edit</mat-icon></button>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-form-field style="width: 100%;">
            <mat-label>Allergie / Restriction alimentaire</mat-label>
            <input matInput [formControl]="allergyControl" (focusout)="allergyInputLostFocus()">
        </mat-form-field>
    </mat-card-content>
</mat-card>