mat-card {
    margin: 20px;

    mat-card-title {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;

        .card-title-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }
    }

    mat-card-actions > button {
        font-weight: bold;
    }

    mat-radio-group.presence-radio-group {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

mat-card.hidden {
    background-color: rgba(white, 0.25);
    color: rgba(black, 0.25);

    button.card-hide {
        color: black;
    }
}

mat-expansion-panel {
    width: 100%;
    background: none;

    div.expansion-panel-content {
        display: flex;
        flex-direction: column;

        div.row {
            display: inline-flex;

            .row-label {
                display: inline-flex;
                align-items: center;
            }
        }
    }
}

.spacer {
    flex-grow: 1;
}
