<div class="header">
    <h1 class="title" @fade>24 août<br>2024</h1>
</div>

<div class="content">
    <rsvp-confirmation-person-card *ngFor="let person of people; index as i" @fade
        [person]="person" (personChange)="updatePerson(i, $event)"
        (deleted)="removePerson(i)" [deleteable]="false"></rsvp-confirmation-person-card>
    <button class="confirm" color="primary" mat-raised-button
        [disabled]="!isReadyToSubmit"
        (click)="confirm()">
        <span class="button-content">
            <span class="button-icon">
                <mat-icon @fadeRotate *ngIf="isReadyToSubmit">check</mat-icon>
                <mat-icon @fadeCounterRotate *ngIf="!isReadyToSubmit">close</mat-icon>
            </span>
            Cliquez ici pour confirmer
        </span>
    </button>
</div>