div.header {
    width: 215px;
    height: 215px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-image: url('/assets/floral-wreath.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button.info {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    margin-top: 0;

    &.title {
        text-align: center;
        margin: auto;
    }
}

h4 {
    margin: 0;
    text-align: center;
    font-weight: 300;
}

div.timeline {
    margin: auto;
    width: fit-content;
}

img.map {
    width: 100%;
}

div.content {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button.confirm {
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: large;

    .button-content {
        display: flex;
        height: 24px;
        flex-wrap: wrap;
        align-items: center;

        .button-icon {
            width: 24px;
            height: 24px;
            display: grid;

            mat-icon {
                grid-row: 1;
                grid-column: 1;
            }
        }
    }
}

button.add-person-button {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}