img.main-img {
    width: 100%;
    margin-top: 10px;
}

h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    margin: 15px;
    margin-left: 0;
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    font-size: 20px;
    background: none;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

div.welcome {
    width: 100%;
    background-image: url("../../assets/babys-breath.jpg");
    background-size: cover;
    height: calc(100dvh - var(--mat-toolbar-standard-height) - 100px);

    div.content {
        padding-top: 15px;
        background: linear-gradient(180deg, rgba(white, 1) 0%, rgba(white, 0) 100%);
    }

    button {
        position: relative;
        z-index: 200;
    }
}

@media (max-width: 599px) {
    div.welcome {
        height: calc(100dvh - var(--mat-toolbar-mobile-height) - 100px);
    }
}