mat-expansion-panel {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

mat-expansion-panel-header {
    padding-left: 12px;
    padding-right: 12px;
}

.expansion-toggle {
    height: 24px;
    width: 24px;
    margin-right: 12px;
    display: grid;

    mat-icon {
        color: rgba(black, 0.54);
        grid-row: 1;
        grid-column: 1;
    }
}